{% block content %}
{% for msg in messages %}
<!-- Flexbox container for aligning the toasts -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <!-- Then put toasts within -->
  <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
    <div class="toast-header" style="background-color: chartreuse; ">
      
      <strong class="me-auto " style="font-size: large;"><i class="fa fa-shopping-cart" style="font-size: x-large;"></i> ShopKart</strong>
      <small>just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-center">
      {{msg}}
    </div>
  </div>
</div>
{% endfor %}

<script>
  var toastElList = [].slice.call(document.querySelectorAll('.toast'))
  var toastList = toastElList.map(function (toastEl) {
    return new bootstrap.Toast(toastEl)
});
toastList.forEach(toast => toast.show());

</script>

{% endblock content %}